.timelineCard {
    height: 1em;
}

.my-card-title,
.my-card-text,
.my-card-subtitle {
    font-family: 'Cousine', monospace;
    font-size: 15px;
    text-align: left;
}

.my-card-title,
.my-card-subtitle {
    font-weight: bold
}


.my-card {
    border: none;
}


#timelineDiv {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}