.timelineCard {
    height: 1em;
}

.my-card-title,
.my-card-subtitle {
    font-family: 'Cousine', monospace;
    text-align: left;
    font-weight: bold
}



.my-card {
    border: none;
}


#timelineDiv {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}