.messageCard {
    background-color: rgb(0, 100, 158);
    color: rgb(250, 238, 238);
    border: none;
    margin: auto;
    width: 60%;
}

@media screen and (max-width:700px) {
    .messageCard {
        width: 95%
    }

    /*   #messageCol {
        width: 100%;
        display: flex;
        justify-content: flex-start
    } */
}

/* #logoCol {
    margin: auto;
    float: right;
} */

@media screen and (max-width:700px) {
    #logoCol {
        visibility: hidden;
        height: 0px
    }

    #coverDiv {
        width: 100%;
    }


}

#summaryDiv {
    height: 70%;
    /* height: 43em; */
    background-color: rgb(0, 100, 158);
    color: rgb(250, 238, 238);
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

}

/* @media(min-width:500px) {
    #coverDiv {
        width: 60%
    }

} */

.coverName {
    font-size: 32px x;
}