#projectCard {
    text-align: left;
    margin: 15px;
    border: none;
}

#projectCardTitle {
    border-bottom: 1px solid black;
}

#allPro {
    border-radius: 50px;
    background-color: rgb(0, 100, 158);



}



#projectCol {
    margin: auto;
}